.tab-header {
	display: inline-block;
	min-width: 150px;
	border: 1px solid #ddd;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
}
.tab-content {
	border: 1px solid #ddd;
	min-height: 300px;
	padding: 20px;
}